body {    
    background-image: linear-gradient(to bottom right, rgb(174, 218, 243), rgb(178, 252, 233));
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    background: none;
    border: none;
}

.homeScreen {
    min-height: 100%;
}

Nav .nav-wrapper {
    background-color: rgb(62, 177, 142);
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 7px;
    padding-right: 20px;
}

h2, h3, h4, h5, p, th, tr {
    font-family: 'Montserrat', sans-serif;
}

#headline {
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 7vw;
    color: black;
    text-align: center;
}

#subHeadline {
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 4vw;
    color: black;
    text-align: center;  
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(121, 121, 121);
    opacity: 1; /* Firefox */
}

#signUpP {
    color: rgb(136, 241, 241);
}

#linkP {
    color: green;
    text-align: center;
}

.chip {
    background-color: rgb(202, 204, 58);
}

#chatWindow {
    border-radius: 8px;
}

.signOutLink {
    margin-bottom: 20px;
}

#welcomePageP {
    color: whitesmoke
}

.text-center {
    text-align: center
}

#divider { 
    border-bottom: 0.5px;
    border-color: gray;
    border-style: solid;
}

#dividerLite {
    border-bottom: .1px;
    margin-bottom: 15px;
    border-color: rgb(185, 185, 185);
    border-style: solid;
}

.button {
    background-color: rgb(62, 177, 142);
    border: none;
    color: whitesmoke;
    display: inline-block;
    width: auto;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 3px 2px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: 200ms;
    margin: 2px;
}

.btn {
    margin: 2px;
}

#btnDelete {
    background-color: rgb(202, 204, 58);
    border: none;
    color: whitesmoke;
    text-align: center;
    display: inline-block;
    width: auto;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 5px;
    border-radius: 3px;
    box-shadow: 0 3px 2px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: 200ms; 
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 12px 30px 0 rgba(0,0,0,0.19);
    transition: 200ms;
}

.btnNav {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.btnAction {
    background-color: rgb(202, 204, 58);
    border: none;
    color: whitesmoke;
    text-align: center;
    display: inline-block;
    width: auto;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 3px 2px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: 200ms;
}

.newTripBtn{
    background-color: rgb(62, 177, 142);
    border: none;
    color: whitesmoke;
    text-align: center;
    display: inline-block;
    width: auto;
    font-size: 3vw;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 3px 2px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: 100ms;
}

.newTripBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: 200ms;
}

#logo {
    display: block;
    margin: 0 auto;
}

span {
    color: rgb(173, 173, 173);
}

.fas {
    color: whitesmoke;
}

.card {
    background-color: rgb(226, 251, 253);
    border-radius: 8px;
    box-shadow: 0 3px 2px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding: 10px;
}

#newtrip {
    padding: 15px;
    margin-bottom: 20px;
}

#postride {
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
}

#addSupplies {
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
}

#inviteguests {
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
}

#messages {
    border-style: dashed;
    height: 20px;
    margin-top: 10px;
}

#chat {
    height: 100px;
    border-style: solid;
}

#chatBox {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    border-radius: 8px;
    padding: 5px;
}

#chatBox::-webkit-scrollbar {
    width: 5px !important;
}

#chatBox::-webkit-scrollbar-thumb{
    background-color: rgb(174, 218, 243);
}

#signUpLeft {
    background-color: rgb(174, 218, 243);
    height: 100vh;
    box-sizing: border-box;
}

#signUpRight {
    background-color: rgb(49, 121, 85);
    height: 100vw;
    padding: 15px;
}

#fbLogin {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 3em;
}

#sendMessage {
    color: rgb(174, 218, 243);
    cursor: pointer;
}

.chatPicture {
    width: 25px;
    border-radius: 50%;
    padding: 2px 5px;
    box-sizing: content-box;
}

.centeredRow {
    display: flex;
    align-items: center;
}

.messageName {
    padding: 5px 5px 0;
    font-size: .75em;
    font-style: italic;
}

.circlePic {
    border-radius: 50%;
    margin-left: 5px;
}

button > i.material-icons:hover {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    #logo {
        display: block;
        margin: 0 auto;
    }
    
    #headline {
        font-family: 'Cabin Condensed', sans-serif;
        font-size: 12vw;
        color: black;
    
    }

    #subHeadline {
        font-family: 'Cabin Condensed', sans-serif;
        font-size: 8vw;
        color: black;
    }

    .newTripBtn{
        background-color: rgb(62, 177, 142);
        border: none;
        color: white;
        text-align: center;
        display: inline-block;
        width: auto;
        font-size: 6vw;
        font-family: 'Montserrat', sans-serif;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 3px 2px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        transition: 100ms;
    }
    
    .newTripBtn:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        transition: 200ms;
    }    
  }